<div class='form'>
  <%= form_for @markov do |f| %>

  <div class='markov-options'>
    <div class='upper-form'>
      <div class='input-text'>
        <div class="form-label">
          <%= f.label :input_text %>
        </div>

        <div class="form-input">
          <span class='elastic-input'>
            <%= f.text_field :input_text, :placeholder => "TWITTERHANDLE" %>
          </span>
        </div>
      </div>

      <div class='markov-option'>
        <div class="form-label">
          <%= f.label :order %>
        </div>

        <div class="form-input">
          <%= f.number_field :order, in: 1..5 %>
        </div>
      </div>
    </div>

    <div class='lower-form'>
      <div class='markov-option'>
        <div class="form-label">
          <%= f.label :n_paragraphs %>
        </div>

        <div class="form-input">
          <%= f.number_field :n_paragraphs, in: 1..5 %>
        </div>
      </div>

      <div class='markov-option'>
        <div class="form-label">
          <%= f.label :n_sentences %>
        </div>

        <div class="form-input">
          <%= f.number_field :n_sentences, in: 1..20 %>
        </div>
      </div>

      <div class='markov-option'>
        <div class="form-input">
          <%= f.submit 'MARKIFY' %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <span class='form-disclaimer'>N.B.: UNCACHED TWITTER ACCOUNTS MAY REQUIRE 10+ SECONDS TO PROCESS - PLEASE BE PATIENT</span>
</div>
